[flake8]
max-line-length = 80
extend-ignore = E203
per-file-ignores = 
    __init__.py:F401
    tests\*:DAR101, DAR201, F401
exclude = 
    test.py
[darglint]
docstring_style = google
strictness = full
indentation = 4